<!DOCTYPE html>
<html>

<head>
    <title>Dawid Dlugosz</title>
    <style>
        .page_top {
            position: static;
        }

        .page_center {
            position: absolute;
            padding-top: 30px;
        }
    </style>
</head>

<body>
    <div class="page_top">
        <img style="position: relative; float: left;" id="logo" src="/static/logo_example.png" width="120" height="120"
            alt="HTML IMG">
        <h1 style="position: relative; font-size: 50px;"> Dawid Dlugosz</h1>
    </div>

    <div class="page_center">
        <img style="position: absolute; padding-left: 30px;" id="my_photo" src="/static/picture example.png"
            height="500" alt="PICTURE example">
        <h2 style="position: fixed; padding-top: 240px; font-size: 70px; color: rgb(255, 69, 69);">Junior Programmer
        </h2>
    </div>


</body>

</html>